	<div class="col-xs-4">
		<% if @created.any? %>
			<h3 class="text-center">Created events</h3>
			<ul class="media-list jumbotron">
					<%= render @created %>
			</ul>
		<% else %>
  			<h3>No events created</h3>
		<% end %><br/>
	</div>