<h1>Welcome to Private Events!</h1>

<div class="row">
  <div class="jumbotron">
hey
  </div>
</div>
<hr>
<%= render 'events/list_all_events'%>

<p>
  You can : 
  <% if signed_in? %>
    <%= link_to "Sign out", signout_path, method: :delete %>
  <% else %>
    <%= link_to 'Sign in', signin_path %>
  <% end %>
    or <%= link_to 'Sign up', new_user_path %>
</p>