<h1 class="text-center text-white bg-info rounded mt-1">This is <%= "#{@user.name}" %> personal page</h1>

<hr>

<div class="row">

	<div class="col-xs-6">
		<%= render 'events/upcoming' %>
	</div>

	<div class="col-xs-6">
		<%= render 'events/past' %>
	</div>

</div> 