<h1>this is User's show template</h1>


<% if @user.events.any? %>
		<h3>Submitted (<%= @user.events.count %>) events</h3>
		<ul class="media-list">
			<%= render @events %>
		</ul>
		<%= will_paginate @events %>
	<% else %>
		<h3>No Events Found</h3>
<% end %>
  
	<hr>


