
<div class="text-center jumbotron">
    <% if @event.invitations.any? %>
        <h3 class="text-success">Attendee: </h3>
        <% @event.invitations.each do |attendee| %>
            <span class="attendee"><%= attendee.invitee.name %>
            </span> <br/>
        <% end %>
    <% else %>
        No attendees
    <% end %><br/>
</div>
