<h3 class="text-center text-success">Upcoming Events</h3>
    <% if @upcoming.any? %>
        <ul>
            <div class="jumbotron">
                <%= render @upcoming %>
            </div>
        </ul>
    <% else %>
        <h4 class="jumbotron">No upcoming events</h4>    
    <% end %>