/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
$black: #000;
$white: #fff;
$three: 3em;
$ten: 10em;
$one: 1em;
.navbar-custom {
    nav {
        background-color: $black;
    }
}

.dark-bg {
    background-color: $black;
    color: $white;
}

.mt-2 {
    margin-top: $three;
}

.mr-1 {
    margin-right: $three !important;
}

.ml-1 {
    margin-left: $three !important;
}

.bg {
    background-image: url(bg.jpg);
    height: $ten;
}