 
<footer class="footer">
  <small>
    The <a href="https://eventbrite.com/">Private Event</a>
    Created by <a href="http://github.com/macnick">Nick Haras</a> and <a href='https://github.com/addod19'>Daniel Larbi Addo
  </small>
  <nav>
    <ul>
      <li><%= link_to "Events",   events_path, id: "text-red" %></li>
      <li><%= link_to "Users", users_path, id: "text-gold" %></li>
      <li><a href="#top">TOP</a></li>
    </ul>
  </nav>
</footer>