<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= render 'layouts/default' %>
    <%= render 'layouts/bootstrap' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
    <%#= render 'flash' %>
    <%= yield %>
    </div>
  </body>
</html>
